* Define a Dictionary named as 'planet_size' where keys and values are given below<br>
"Mercury": 4879.4, "Venus":12104, "Earth":12756, "Mars":6779, "Jupiter":142800, "Saturn":120660, "Uranus":51118

In [2]:
planet_size = {"Mercury": 4879.4, "Venus":12104, "Earth":12756, "Mars":6779, "Jupiter":142800, "Saturn":120660, "Uranus":51118}
planet_size

{'Mercury': 4879.4,
 'Venus': 12104,
 'Earth': 12756,
 'Mars': 6779,
 'Jupiter': 142800,
 'Saturn': 120660,
 'Uranus': 51118}

* Show the keys of the dictionary planet_size

In [6]:
planet_size.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus'])

* Show the Values of the dictionary planet_size

In [7]:
planet_size.values()

dict_values([4879.4, 12104, 12756, 6779, 142800, 120660, 51118])

* Show the size of the planets Jupiter and Venus

In [19]:
x = planet_size['Jupiter'], planet_size['Venus']
print(x)

(142800, 12104)

* Add a new planet "Neptune" in the dictionary planet_size, whose size is 49528, then print the dictionary<br>

In [21]:
planet_size.update( {'Neptune' : 49528} )

planet_size

{'Mercury': 4879.4,
 'Venus': 12104,
 'Earth': 12756,
 'Mars': 6779,
 'Jupiter': 142800,
 'Saturn': 120660,
 'Uranus': 51118,
 'Neptune': 49528}

* Update "Earth' keys value by 12800 in Dictionary planet_size

In [22]:
planet_size.update( {'Earth' : 12800} )

planet_size

{'Mercury': 4879.4,
 'Venus': 12104,
 'Earth': 12800,
 'Mars': 6779,
 'Jupiter': 142800,
 'Saturn': 120660,
 'Uranus': 51118,
 'Neptune': 49528}

* Delete the key 'Venus' and its value from the dictionary planet_size.

In [28]:
removed_value_venus = planet_size.pop('Venus', 12104)
removed_value_venus

12104

* Define a new dictionary named as country_data with the below cities population
```
    "India":{'Mumbai':18978000,'Delhi':15926000,'Kolkata':14787000},
    "United State":{"New York":19354922,"Los Angeles":12815475,"Chicago":8675982},
    "United Kingdom":{"London":8567000,"Birmingham":2285000,"Manchester":2230000},
    "Germany":{"Berlin":3406000,"Stuttgart":2944700,"Frankfurt":2895000}
```

In [1]:
This_Dict_Country = {"India":{'Mumbai':18978000,'Delhi':15926000,'Kolkata':14787000},
  "United State":{"New York":19354922,"Los Angeles":12815475,"Chicago":8675982},
  "United Kingdom":{"London":8567000,"Birmingham":2285000,"Manchester":2230000},
  "Germany":{"Berlin":3406000,"Stuttgart":2944700,"Frankfurt":2895000}}

This_Dict_Country

{'India': {'Mumbai': 18978000, 'Delhi': 15926000, 'Kolkata': 14787000},
 'United State': {'New York': 19354922,
  'Los Angeles': 12815475,
  'Chicago': 8675982},
 'United Kingdom': {'London': 8567000,
  'Birmingham': 2285000,
  'Manchester': 2230000},
 'Germany': {'Berlin': 3406000, 'Stuttgart': 2944700, 'Frankfurt': 2895000}}

* What is the population of city Delhi in India

In [2]:
y = This_Dict_Country ['India'] ['Delhi']
print(y)

15926000

* Add one more city Chennai under Country India, whose population is 7163000

In [6]:
This_Dict_Country ['India'] ['Chennai'] = 7163000
This_Dict_Country ['India']

{'Mumbai': 18978000,
 'Delhi': 15926000,
 'Kolkata': 14787000,
 'Chennai': 7163000}

* What is the population of the city Berlin in Germany

In [7]:
This_Dict_Country ['Germany'] ['Berlin']

3406000

* What are the names of the citis in United States and Germany

In [14]:
This_Dict_Country ['Germany'] 
This_Dict_Country ['United State']

{'New York': 19354922, 'Los Angeles': 12815475, 'Chicago': 8675982}

* What is the population of the city Chicago in United State

In [15]:
This_Dict_Country ['United State'] ['Chicago']

8675982

* What is the population of the city Manchester in United Kingdom

In [16]:
This_Dict_Country ['United Kingdom'] ['Manchester']

2230000