* Create a list named as input_list where the elements are "name_1",1,2,3,"name_2",5,6,7,8,"name_3",9,10,11,12.

In [39]:
input_list = ["name_1",1,2,3,"name_2",5,6,7,8,"name_3",9,10,11,12]
print (input_list)

['name_1', 1, 2, 3, 'name_2', 5, 6, 7, 8, 'name_3', 9, 10, 11, 12]

* Print what is the length of input_list

In [19]:
len(input_list)

14

* Add one element "name_4" into the input_list

In [42]:
input_list_1 = input_list + ["name_4"]
print (input_list_1)

['name_1', 1, 2, 3, 'name_2', 5, 6, 7, 8, 'name_3', 9, 10, 11, 12, 'name_4']

* Add element 4 at 4th index of the input_list

In [43]:
input_list_2 = input_list_1 + [13,14,15,16]
print (input_list_2)

['name_1', 1, 2, 3, 'name_2', 5, 6, 7, 8, 'name_3', 9, 10, 11, 12, 'name_4', 13, 14, 15, 16]

* Add elements 13,14,15,16 at the end of the input_list

In [44]:
input_list_2 = input_list_1 + [13,14,15,16]
print (input_list_2)

['name_1', 1, 2, 3, 'name_2', 5, 6, 7, 8, 'name_3', 9, 10, 11, 12, 'name_4', 13, 14, 15, 16]

* Show the index position of "name_2" from input_list

In [48]:
input_list [4:]

['name_2', 5, 6, 7, 8, 'name_3', 9, 10, 11, 12]

* extract all the element from 5th index to before the index position of "name_3" from input_list

In [51]:
input_list [5:9]

[5, 6, 7, 8]

* Create a new list named as list_1 where the elements are 1,8,9,10,7,14,7,5,6,8,1,2,50,47,8,12,4,6,3,10,1,4

In [68]:
list_1 = [1,8,9,10,7,14,7,5,6,8,1,2,50,47,8,12,4,6,3,10,1,4]
print (list_1)

[1, 8, 9, 10, 7, 14, 7, 5, 6, 8, 1, 2, 50, 47, 8, 12, 4, 6, 3, 10, 1, 4]

* Find the minnimun number of the list_1

In [56]:
min(list_1)

1

* Find the maximum number of the list_1

In [57]:
max(list_1)

50

* Count how many time 8,7 and 4 Occurred in list_1

In [64]:
list_count_8 = list_1.count(8)
list_count_7 = list_1.count(7)
list_count_4 = list_1.count(4)
print (list_count_8)
print (list_count_7)
print (list_count_4)

3
2
2

* Remove the last element of list_1

In [75]:
print (list_1)
del list_1 [-1]
print (list_1)

[1, 8, 9, 10, 7, 14, 7, 5, 6, 8, 1, 2, 50, 47, 8, 12, 4, 6, 3, 10]
[1, 8, 9, 10, 7, 14, 7, 5, 6, 8, 1, 2, 50, 47, 8, 12, 4, 6, 3]

* Remove the elements from 6th to 10th index of the list_1

In [85]:
del list_1 [6:10]
print (list_1)

[1, 14, 1, 2, 50, 47]

* Remove element 8 (only the first occured) from the list_1

In [90]:
list_1 = [1,8,9,10,7,14,7,5,6,8,1,2,50,47,8,12,4,6,3,10,1,4]
print (list_1)
del list_1 [1]
print (list_1)

[1, 8, 9, 10, 7, 14, 7, 5, 6, 8, 1, 2, 50, 47, 8, 12, 4, 6, 3, 10, 1, 4]
[1, 9, 10, 7, 14, 7, 5, 6, 8, 1, 2, 50, 47, 8, 12, 4, 6, 3, 10, 1, 4]

* What is the second largest element from the list_1

In [95]:
list_1.sort()
list_1

del list_1[-2]
list_1

[1, 1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 8, 8, 9, 10, 10, 50]