# Importing pandas and numpy

Import pandas and numpy under the alias `pd` and `np`.

In [9]:
import pandas as pd
import numpy as np
import os

# DataFrame basics

```python
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [11]:
Data_empty = pd.DataFrame()
Data = pd.DataFrame ({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})

print(Data)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [19]:
Data.dtypes
Data.info

<bound method DataFrame.info of   animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no>

Return the first 3 rows of the DataFrame `df`.

In [22]:
First_3 = Data.head(3)
First_3

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no

Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [28]:
Data_1 = Data[['animal','age']]
Data_1

  animal  age
0    cat  2.5
1    cat  3.0
2  snake  0.5
3    dog  NaN
4    dog  5.0
5    cat  2.0
6  snake  4.5
7    cat  NaN
8    dog  7.0
9    dog  3.0

Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [36]:
Data_2 = Data.loc [0:8,['animal','age']]
Data_2
Data_2.iloc[[3, 4, 8], [0, 1]]

  animal  age
3    dog  NaN
4    dog  5.0
8    dog  7.0

Select only the rows where the number of **visits** is greater than 3.

In [53]:
Data_3 = Data[Data.visits >3]
Data_3

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

Select the rows where the age is missing, i.e. it is `NaN`.

In [65]:
Missing = Data.isnull().sum()
Missing
Missing_values = pd.DataFrame({'Missing_Value_Count' : Data.isnull().sum()}).reset_index()
Missing_values

      index  Missing_Value_Count
0    animal                    0
1       age                    2
2    visits                    0
3  priority                    0

Select the rows where the animal is a cat *and* the age is less than 3.

In [74]:
Data_4 = Data[(Data.animal == "cat") & (Data.age < 3)]
Data_4

  animal  age  visits priority
0    cat  2.5       1      yes
5    cat  2.0       3       no

Select the rows the age is between 2 and 4 (inclusive).

In [81]:
Data_5 = Data[~(Data.age == 2) & ~(Data.age == 4)]
Data_5

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

Change the age in row 'f' to 1.5.

In [83]:
Data

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no
5    cat  2.0       3       no
6  snake  4.5       1       no
7    cat  NaN       1      yes
8    dog  7.0       2       no
9    dog  3.0       1       no

In [85]:
#df['column name'] = df['column name'].replace(['old value'],'new value')
Data_f = Data['age'].replace([2], 1.5)
Data_f

0    2.5
1    3.0
2    0.5
3    NaN
4    5.0
5    1.5
6    4.5
7    NaN
8    7.0
9    3.0
Name: age, dtype: float64

Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [89]:
Data_visit_sum = Data['visits'].sum()
Data_visit_sum

19

Set a system path in your local computer and save the final dataframe csv format as `animal.csv`.

In [93]:
Data_animal = pd.DataFrame(Data)
Data_animal.to_csv('animal.csv')